.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.boten{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.bootblok{
    background-color: lightblue;
    width: 350px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.imgKleiner{
    height: 200px;
}

.bootLink{
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.bootLink:hover{
    text-decoration: underline;
}

