.titel{
    display: flex;
    justify-content: center;
}

.tabel{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

td{
    padding: 10px;
    text-align: center;
}

.voegBoot{
    display: flex;
    justify-content: center;
    text-align: center;
}

.submitKnop{
    width: 170.4px;
}