.container{
    width: 1000px;
    margin: 0 auto;
}

.headerAchtergrond{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/bootbackground.png");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.boothurenLink{
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
    width: 107px;
    text-align: center;
}

.boothurenLink:hover{
    text-decoration: underline;
}

